# for VSCode
.vscode/*
# !.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# *.code-workspace
# Exclude configuration and output files
*.csv
*.xlsx
*.yml
!template.yml
!internal/test_*.yml